   <footer id="page-footer">
      <div class="uk-text-center">
        <p><a href="https://github.com/chinjon/band-news-grab" target="_blank">Built with anxiety and coffee by <strong>Jonathan Chin</strong></a></p>
      </div>
    </footer>