<div class="uk-child-width-expand@s uk-text-center" uk-grid id="page-header-section">
    <div id="page-header-head">
        <h1 class="newFont" id="big-header">Crate Digger</h1>
        <h3 class="newFont" id="small-header">Gather News On Your Favorite Bands</h3>
    </div>
</div>