<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button id="search-btn" class="uk-modal-close-full" type="button" uk-close></button>
        <form class="uk-search uk-search-large" id="search-form">
            <input id="search-query" name="search-query" class="uk-search-input uk-text-center" type="search" placeholder="Scrape Away..." autofocus>
        </form>
    </div>
</div>