body {
    font-family: 'Vollkorn', serif;
}

#page-header-head h1{
    /*font-size: 6.3rem;*/
    font-size: 9.5vw;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-shadow: 6.0px 6.0px 17px #000;
}

#page-header-head h3{
    font-size: 3.4vw;
    color: #fff;
    text-shadow: 4px 4px 17px #000;
}

#search-now-btn {
    font-size: 100%;
}

#page-nav a{
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 1.1em;
    text-transform: none;
}

.uk-navbar-left {
    margin-left: 2em;
}

.uk-navbar-right {
    margin-right: 2em;
}

.newFont {
    font-family: 'Vollkorn', serif;
}

#page-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.7rem;
  background-color: #efefef;
  text-align: center;
}

#page-footer p {
    margin: 10px 0 0 0;
    vertical-align: middle;
    padding-bottom: 1rem;
}