body {
    font-family: 'Vollkorn', serif;
    padding: 0.8rem;
}

#page-header-head h1{
    /*font-size: 6.3rem;*/
    font-size: 9.5vw;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-shadow: 6.0px 6.0px 17px #000;
}

#page-header-head h3{
    font-size: 1.9vw;
    color: #fff;
    text-shadow: 4px 4px 17px #000;
}

#page-nav a{
    color: #fff;
    font-family: 'Vollkorn', serif;
    font-size: 1.1em;
    text-transform: none;
}

.uk-navbar-left {
    margin-left: 2em;
}

.uk-navbar-right {
    margin-right: 2em;
}

.navFont {
    color: #fff;
}

.newFont {
    font-family: 'Vollkorn', serif;
}